<%- include ('../partials/header') %>
<div class="container">
    <form method="GET">
        <h2>Personal Information </h2>
        <label for="fname">First Name</label> 
        <input type="text" id="fname" name="fname" placeholder="First Name" required><br>
        <label for="lname">Last Name</label> 
        <input type="text" id="lname" name="lname" placeholder="Last Name" required><br>
        <label for="email">Email</label> 
        <input type="email" id="email" name="email" placeholder="Enter your Email Id" required><br>
        <label for="cnum">Contact Number</label> 
        <input type="number" id="cnum" name="cnum" placeholder="Enter your Contact number" required><br>
        <h2>Contact Information</h2>
        <label for="add">Address</label> 
        <input type="textarea" id="add" name="add" placeholder="Address" required><br>
        <label for="message">Your Message</label> <br>
        <input type="textarea" id="message" name="message" placeholder="Enter your message!" required>
        <button type="submit">Submit!</button>   
    </form>
    <fieldset>
        <legend>My Introduction</legend>
        <p>Hey! I'm Aneri Bhatt and I'm currently enrolled in Final Semester on Computer Programmer Course.
            I'm an internation student and I work part-time at Tim Hortons. I enjoy reading novels and
             listening to music in my free-time.
        </p>
    </fieldset>
</div>
<%- include ('../partials/footer') %>